header h1 {
  margin: 40px;
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
main {
  display: flex;
  justify-content: space-around;
}
.tools {
  width: 20%;
}
.canvas-wrapper {
  border: 1px solid #29b6f6;
  width: 600px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.buttonsSize-wrapper{
  margin: 50px 10px;
  width: 80%;
}
.tools-wrapper {
  margin: 50px 10px;
  width: 80%;
}
.colors-wrapper {
  margin: 50px 10px;
  width: 80%;
}

.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #599bb3),
    color-stop(1, #408c99)
  );
  background: -moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -o-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: -ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
  background-color: #599bb3;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  width: 100%;
}
.myButton:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #408c99),
    color-stop(1, #599bb3)
  );
  background: -moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -o-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: -ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
  background-color: #408c99;
}
.myButton:active {
  position: relative;
  top: 1px;
}

/*colorpicker section*/
.color-container {
  display: flex;
  margin-bottom: 20px;
}
.color-container p {
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}
.colorbox {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.colorbox.black {
  background-color: black;
}
.colorbox.green {
  background-color: green;
}
.colorbox.red {
  background-color: red;
}
.colorbox.yellow {
  background-color: yellow;
}
